html {
 display: flex;
 flex-direction: column;
 text-align: center;
 background-color: #F3DFA2;
 text-color: #272727;
}

.header-image {
  position: center;
  max-width: 100%;
  max-height: 600px;
}
